.banner {
  background: rgba( 0, 0, 0, 0.4);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8)0%, rgba(0, 0, 0, 0.3)60%, rgba(0, 0, 0, 0.8)100%), url(../../images/background.jpg);
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  display: block;
  color: white;
  background-size: cover;
  background-position: center;
  padding: 0px;
  border-bottom: 8px solid #222;
  margin-bottom: 0;
  height: 660px;

}


#header-wrap {
  height: 4rem;
  background-color: transparent;
  transition: background-color 0.5s;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 20px;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

#header {
  display: flex;
  position: relative;
  height: 100%;
  justify-content: space-between;
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 8px;
}
#header img {
  height: 36px;
  width: 133.2px;
}

#banner-low {
  padding: 70px 45px;
  position: relative;
  background: transparent;
  margin-bottom: 0px;
  color: white;
  margin-top: 20px;

}

#content-low {
  max-width: 950px;
  position: relative;
  width: 100%;
  padding: 75px 0;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}

#content-h1 {
  max-width: 640px;
  line-height: 1.1;
  font-weight: bold;
  font-size: 49px;
}


#content-h2 {
  margin: 1rem auto;
  max-width: 640px;
  font-size: 1.625rem;
  font-weight: normal;
}

#content-low h3 {

  height: 24px;
  width: 811.11px;
  font-size: 19.2px;
  padding: 0px;
}


