#footer-5 {
  height: 323px;
  width: 900px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 0px;
}

.footer-top {
  height: 20px;
  padding:0px;
  margin: 0 0 30px;
  display: block;
}

.footer-top a {
  color: #757575;
  font-size: 16px;
}

.container-5 ul {
  padding:0px;
  margin: 0px 0px 0px 0px;
  display: block;
  list-style-type: disc;
  color: #757575;
}

.footer-links {
  height: 160px;
  max-width: 1000px;
  font-size: 13px;
  box-sizing: border-box;
}

.footer-links li {
  box-sizing: border-box;
  padding: 0;
  margin-bottom: 16px;
  display: inline-block;
  min-width: 100px;
  width: 24.2%;
  padding-right: 12px;
  vertical-align: top;
  height: 16px;
}


.footer-links a {
  color:#757575;
  height: 16px;
  width: 225px;
}

.footer-links span:hover {
  text-decoration: underline;
}



.footer-links span {
  background-color:black;
  padding: 0px;
  margin-bottom: 16px;
}

.footer-link {
  height: 16px;
  width: 225px;
}

.dropdown p {
  font-size: 13px;
  margin: 24px 0px 13px 0px;
}
